@using Cosmetics_Online_Shop.Models
@model IEnumerable<SpecificClass>
@{
    ViewData["Title"] = "Index";
}

<br></br>
<div class="row">
    <div class="col-6">
        <h2 class="text-info">Specific Class List</h2>
    </div>
    <div class="col-6 text-end">
        <a asp-action="Create" class="btn btn-info">&nbsp; New Specific Class</a>
    </div>

</div>
<br />
<div>
    <table class="table table-striped border">
        <tr class="table-info">
            <th>
                @Html.DisplayNameFor(c=>c.Name)
            </th>
            <th></th>
        </tr>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Name</td>
                <partial name="_ButtonPartial" model="@item.Id">
            </tr>
        }
    </table>
</div>
@section scripts{
    <script src="//cdn.jsdelivr.net/npm/alertifyjs@1.13.1/build/alertify.min.js"></script>
    <script type="text/javascript">
        $(function(){
            var save = '@TempData["save"]'
            if(save!=''){
                alertify.success(save);
            }
            var delete = '@TempData["delete"]'
            if (delete != '') {
                alertify.error(delete);
            }
        })
    </script>
}